<div class="card-wrapper">
  <div class="card">
  <div class="img-one-wrapper"><img src="../../assets/images/image-equilibrium.jpg" alt="" class="img-main"></div>
  <div class="content-wrapper">
    <h3>equilibrium #3429</h3>
    <p class="content-description">Our equilibrium collection promotes balance and calm.</p>
    <div class="information-wrapper">
      <div class="rate flex">
        <img src="../../assets/images/icon-ethereum.svg" alt="" class="content-icons">
        <p class="priceRate">0.041 ETH</p>
      </div>
      <div class="day-left flex">
        <img src="../../assets/images/icon-clock.svg" alt="" class="content-icons">
        <p><span>3</span> days left</p>
      </div>
    </div>
    <hr style="color: hsl(215, 30%, 39%);">
    <div class="created-by">
      <img src="../../assets/images/image-avatar.png" alt="">
      <p><span>creation of </span> jules wyvern</p>
    </div>
  </div>
 </div>
</div>
