<div class="card-wrapper">
  <div class="card">
  <div class="img-one-wrapper"><img src="../../assets/images/image-equilibrium.jpg" alt="" class="img-main"></div>
  <div class="content-wrapper">
    <h3>equilibrium #3429</h3>
    <p>Our equilibrium collection promotes balance and calm.</p>
    <div class="information-wrapper">
      <div class="rate">
        <img src="../../assets/images/icon-ethereum.svg" alt="">
        <p>0.041&nbsp ETH</p>
      </div>
      <div class="day-left">
        <img src="../../assets/images/icon-clock.svg" alt="">
        <p><span>3</span> days left</p>
      </div>
    </div>
    <div class="created-by">
      <img src="../../assets/images/image-avatar.png" alt="">
      <p>creation of <span>jules wyvern</span></p>
    </div>
  </div>
 </div>
</div>
